.main-content  
  =render partial: 'mypage/show'

  .main-content__right
    .main-content__right__header
      .main-content__right__header__icon
        = link_to image_tag("member_photo_noimage_thumb.png", width: '60', alt: "サンプル画像", class:"app"), "/"
      %h2.main-content__right__header__bold
        megane
      %h2.main-content__right__header__bold
        出品数

    %h2.main-content__right__tab
      購入した商品
    %ul.main-content__right__history
      %li.main-content__right__history__active
        %h3
          = link_to '取引中' , '#'
      %li.main-content__right__history__non-active 
        %h3
          = link_to '過去の取引' , '#'
    .main-content__right__content
      %ul.main-content__right__content__active
        %li.main-content__right__content__active__not-found 取引中の商品がありません
      %ul.main-content__right__content__non-active
        %li.main-content__right__content__non-active__not-found
          -# 過去に取引した商品がありません

