.main{
  &__content{
    height: 100%;
    &__title{
      font-size: 22px;
      font-weight: 600;
      padding: 32px;
      display: block;
      text-align: center;
      border-bottom: $border-width $border-color solid;
    }
    &__item{
      height: 200px;
      padding: 32px 16px;
      border-bottom: $border-width $border-color solid;
      &__inner{
        max-width: 340px;
        margin: 0 auto;
        &__box{
          display: flex;
          justify-content: space-between;
          &__img{
            margin-right:16px ;
            line-height: 200px;
          }
          &__detail{
            margin-left: 16px;
            width: 100%;
            &__item-name{
              font-size: $text-base;
              padding-bottom: 8px;
            }
            &__bold{
              font-weight: 600;
              font-size: 12px;
            }
          }
        }
      }
    }
    &__buy{
      padding: 32px 16px;
      padding-bottom: 48px;
      &__inner{
        max-width: 340px;
        margin: 0 auto;
        &__price{
          padding-bottom: 16px;
          @include display-flex(space-between);
          border-bottom: $border-width $border-color solid;
          &__text{
            font-size: 18px;
            font-weight: 600;
            line-height: 42px;
          }
          &__int{
            font-size: 28px;
            font-weight: 600;
          }
        }
        &__section{
          padding: 32px 0;
          border-bottom: $border-width $border-color solid;
          &__div{
            h {
              display: block;
              @include label-font(black)
            }
            a {
              color: $main-color;
              font-size: $text-base;
            }
            &__address{
              margin-top: 8px;
              p{
                font-size: $text-base;
              }
            }
          }
        }
        &__btn{
          @include btn($btn-required-grey);
          color: #fff;
          margin-top: 32px;;
        }
      }
    }
  }
}