.show-main{
  height: 100vh;
  width: 100%;
  background-color: #f8f8f8;
  position: relative;
  overflow: scroll;
  .itembox{
    height: 170vh;
    width: 700px;
    background-color: white;
    position: absolute;
    top: 10%;
    left: 25%;
    padding: 24px 40px 40px;
    box-sizing: border-box;
    &__name {
      text-align: center;
      font-weight: bold;
      font-size: 24px;
      margin-top:20px;
    }
    &__body{
      .ul{
        text-align: center;
        justify-content: center;
        .li{
          margin-top: 10px;
          margin-left: 90px;  
        }
        .ul{
          display: flex;
          .li{
            margin: 3px;
          }
        }
      }
    }
    &__price {
      text-align: center;
      font-size: 46px;
      font-weight: bold;
      &__detail {
      text-align: center;
      font-size: 16px;
      margin-bottom: 20px;
    }
    }
    &__detail {
      box-sizing: content-box;
      font-size: 18px;
      margin-bottom: 30px;
      padding: 0 0 0 20px;
    }
   
    .table {
      width: 120%;
      margin-bottom: 20px;
      table {
        margin: 0 30px 0 40px;
        border-collapse: collapse;
        width: 80%;
        margin: 30px 30px;
        border: 2px solid #dedede;
        padding-bottom: 40px;
        tbody{
          width: 200px;
        th{
          border: solid 1px black;
          background-color: #eee;
          font-size: 12px;
          font-weight: normal;
          padding: 1px;
          border: 2px solid #dedede;
       }  
        td{
          border: 2px solid #dedede;
          font-size: 14px;
          text-align: left;
          padding: 20px;
        }
       }
      }
    }
  }
}