*{
  box-sizing: border-box;
  text-decoration: none;
}

.show-main{
  background-color: #f8f8f8;
  .itembox{
    height: 1600px;
    width: 700px;
    background-color: white;
    padding: 24px 40px 40px;
    margin: 0 auto;
    &__name {
      text-align: center;
      font-weight: bold;
      font-size: 24px;
      margin-top:20px;
    }
    &__body{
      &__image {
        margin: 0 auto;
        min-width: 500px;
        max-width: 500px;
        min-height: 375px;
        position: relative;
        &__main__photo {
          object-fit: contain;
          height:300px;
          width: 100%;
          vertical-align: bottom;
        }
        &__sub {
          line-height: 0;
          height: 120px;
          overflow-x: scroll;
          &__thumb {
            display: flex;
            word-wrap: normal;
            width: 30px;
            height: 100px;
            cursor: pointer;
            &__photo {
              padding: 0;
              margin: 0；
            }
          }
          &__thumb:not(.active) {
            opacity: 0.4;
          }
        }
      }
    }
    &__price {
      text-align: center;
      font-size: 46px;
      font-weight: bold;
      &__detail {
      text-align: center;
      font-size: 16px;
      margin-bottom: 20px;
    }
    }
    &__detail {
      box-sizing: content-box;
      font-size: 18px;
      margin-bottom: 30px;
      padding: 0 0 0 20px;
    }
   
    .table {
      width: 115%;
      margin-bottom: 20px;
      table {
        margin: 0 30px 0 40px;
        border-collapse: collapse;
        width: 80%;
        margin: 30px 30px;
        border: 2px solid #dedede;
        padding-bottom: 40px;
        tbody{
          width: 200px;
        th{
          border: solid 1px black;
          background-color: #eee;
          font-size: 12px;
          font-weight: normal;
          padding: 1px;
          border: 2px solid #dedede;
       }  
        td{
          border: 2px solid #dedede;
          font-size: 14px;
          text-align: left;
          padding: 20px;
        }
       }
      }
    }
    &__btns{
      height: 60px;
      width: 600px;
      &__contents-btn{
        font-size: 24px;
        margin: 0 auto;
        padding: 0 40px;
        text-align: center;
        &__seller-menu{
          margin: 0 auto;
          a{
            color: white;
            display: block;
          }
          &__edit{
            margin-right: 10px;
            margin-bottom: 30px;
            height: 48px;
            width: 100%;
            font-size: 24px;
            font-weight: 400;
            background-color: #3CCACE;
            text-align: center;
            line-height: 48px;
            border-radius: 100px;
          }
          &__destroy{
            height: 48px;
            width: 100%;
            font-size: 24px;
            font-weight: 400;
            background-color: #ea352d;
            text-align: center;
            line-height: 48px;
            border-radius: 100px;
          }
          &__buy {
            height: 48px;
            width: 100%;
            font-size: 24px;
            font-weight: 400;
            background-color: #ea352d;
            text-align: center;
            line-height: 48px;
            border-radius: 100px;
            a{
              color: white;
              display: block;
            }
          }
        }
      }
    }
  }
}
