// 変数まとめ

// サイトの背景
$main-background: #f8f8f8;

// 主なリンクとかボーダーとかボタンの色
$main-color: #3CCACE;
$border-color: lightgrey;
$btn-required-grey: #ccc;

// コンテンツの幅
$content-margin: 32px;
$text-margin: 16px;
$content-padding: 40px;
$label-margin: 24px;
$content-height: 48px;

// テキストサイズ
$text-base: 14px;
$text-small: 11px;

// ボーダーの幅
$border-width: 1px;