.account
  = render 'partial/new-header'
  .account-page
    .account-page__inner
      .account-page__inner__title

      .account-page__inner__user-form
        %form{action: "#"}
          .field
            .field-label
              %P メールアドレス
            .field-input
              %input{type: "email", name: "name" , placeholder:"メールアドレス" }
          .field
            .field-label
              %p パスワード
            .field-input
              %input{type: "password", name: "password", placeholder:"パスワード"}
          .actions
            %input{type: "submit", value: "ログイン", class: "btn"}
  = render 'partial/new-footer'