
.main-content {
  width: 100%;
  margin: 40px auto 0;
  @include display-flex(center);
  background-color: #F8F8F8;
  &__side {
    width: 280px;
    margin: 0 40px 0 0;
    list-style: none;
    &__nav {
      &__list {
        list-style: none;
        &__item {
          display: block;
          padding: 16px;
          background-color: #fff;
          font-size: 14px;         
          margin-bottom: 1px;
          a { color: #333;
            text-decoration: none;
          }
        }
        &__head {
          margin-top: 40px;
          font-weight: bold;
        }
      }
    }
  }
  &__right {
    height: 180px;
    width: 700px;
    list-style: none;
    background-color: #fff;
    display: inline-block;
    &__logout {
      a {
      background: #3CCACE;
      border: 1px solid #3CCACE;
      color: #fff;
      text-align: center;
      margin: auto;
      display: block;
      line-height: 48px;
      font-size: 14px;
      margin: 60px 200px;
      text-decoration: none;
      }
    }
  }
}